{% extends "base.html" %}

{% block title %}
Thumbnails
{% endblock %}

{% block body %}
    <style>
        img {
            max-width: 100%;
        }
    </style>
    {% for thumb in thumbnails %}
        <div>
            {% if thumb._getNameJoined() == "Media.Images.Image" %}
                <div>
                    <a target="_blank" href="{{thumb.get_url(True)}}">
                        <img src="{{thumb.get_url(True)}}">
                    </a>
                </div>
            {% else %}
                <span>unknown role</span>
            {% endif %}
        </div>

        <hr>
    {% endfor %}
{% endblock %}
