{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block body %}
    <form>
        <input type="hidden" name="i" value="App.DB.Search">
        <input type="hidden" name="linked_to" value="{{current_url.query.get('linked_to') or ''}}">
        <input type="hidden" name="after" value="{{after}}">

        <input placeholder="Query" type="text" name="q" value="{{current_url.query.get('q') or ''}}">
        
        <div>
            <b>In storage</b>
            <input type="text" name="storage" value="{{current_url.query.get('storage') or ''}}">
        </div>

        <div>
            <b>Public only</b>
            <input type="checkbox" name="public" {% if current_url.query.get('public') == 'on' %}checked{% endif %}>
        </div>

        <div>
            <b>Descend</b>
            <input type="checkbox" name="invert" {% if current_url.query.get('invert') == 'on' %}checked{% endif %}>
        </div>

        <div>
            <b>Per page</b>
            <input type="text" name="per_page" value="{{per_page}}">
        </div>

        <div>
            <b>Object name</b>
            <input type="text" name="only_object" value="{{current_url.query.get('only_object') or ''}}">
        </div>

        <input type="submit" value="Search">  
    </form>
    <div>
        <b>{{ tr("client.index.total_count", total_count) }}</b>

        <div>
            {% for item in items %}
                <div>
                    <span>{{ item.obj.name or 'Untitled' }}</span>

                    {% if item.hasDb() %}
                        <a href="?i=App.Objects.Object&uuids={{item.getDbIds()}}">
                            <sup>{{ item.getDbIds() }}</sup>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}

            <div id="pages">
                <a href="?{{before_url}}"><</a>
                <a href="?{{after_url}}">></a>
            </div>
        </div>
    </div>

{% endblock %}
