<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/client/css/style.css">
</head>
<body>
    <div id="content">
        {% if app_name %}
            <div>
                <a href="/"><b>{{ app_name }}</b></a>
            </div>
        {% endif %}

        {% if error %}
            <div id="error">
                <b>{{ error }}</b>
            </div>
        {% endif %}

        <div id="page">{% block body %} {% endblock %} </div>
    </div>
</body>
</html>
