{% extends "base.html" %}

{% block title %}
Namespaces
{% endblock %}

{% block body %}
    <span>list of namespaces:</span>
    <div id='namespaces'>
        {% for item in namespaces %}
            <div>
                <a href="?i=App.Objects.Index.ObjectsList&name={{ item.name }}">{{ item.name }}</a>
            </div>
        {% endfor %}
    </div>

    {% if objects != None %}
        <span>list of objects:</span>

        <div id='objects'>
            {% for item in objects %}
                <div>
                    <a href="?i=App.Objects.Operations.DefaultExecutorWheel&name={{ item.get_name_for_dictlist() }}">{{ item.get_name_for_dictlist() }}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
