{% extends "base.html" %}

{% block title %}
{{ tr("client.storages") }}
{% endblock %}

{% block body %}
    <b>{{ tr("client.storages") }}</b>
    {% if show_internal %}
        <b></b>
    {% else %}
        <a href="/?i=App.Storage.Item.List&show_internal=on">Show internal</a>
    {% endif %}

    <div id='storages'>
        {% for item in storages %}
            <div>
                <a href="?i=App.Storage.Item.Get&name={{ item.name }}">{{ item.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
